<!DOCTYPE html>
<html>
    <head>
        <title>My Todo App</title>
    </head>
    <body>
        <div>
            <input id="todo-title" type="text" placeholder="Add more todo" />
            <input id="date-picker" type="date" />
            <button onclick="addTodo()">Add todo</button>
        </div>
        <div id="todo-list"></div>
        <script>
            let todos = [{
               title: 'Learn dev',
               dueDate: '2021-10-04', 
               id: 'id1'
            }, {
               title: 'Exercise',
               dueDate: '2023-10-05' ,
               id: 'id2'
            }, {
               title: 'Play guitar',
               dueDate: '2022-10-02' ,
               id: 'id3'
            }];

            render();

            const addTodo = () => {
                const textBox = document.getElementById('todo-title');
                const title = textBox.value;

                const datePicker = document.getElementById('date-picker');
                const dueDate = datePicker.value;

                const id = '' + new Date().getTime();

                todos.push({
                    title: title,
                    dueDate: dueDate,
                    id: id
                });

                render();
            };

            function deleteTodo(event) {
                const deleteButton = event.target;
                const idToDelete = deleteButton.id;

                todos = todos.filter((todo) => {
                    //if the id of this todo matches idToDelete, return false
                    //for everything else, return true
                    if (todo.id === idToDelete) {
                        return false;
                    } else {
                        return true;
                    }
                });

                render();
            };

            function render() {
                //  reset our list
                document.getElementById('todo-list').innerHTML = '';

                todos.forEach((todo) => {
                const element = document.createElement('div');
                element.innerText = todo.title + ' ' + todo.dueDate;
                
                const deleteButton = document.createElement('button');
                deleteButton.innerText = 'Delete';
                deleteButton.style = 'margin: 5px; background-color: white;';
                deleteButton.onclick = deleteTodo;
                deleteButton.id = todo.id;
                element.appendChild(deleteButton);

                const todoList = document.getElementById('todo-list')
                todoList.appendChild(element);
            });
            }
            
        </script>
    </body>
</html>