.app-JavaScripCalculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../imagines/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

#display {
    display: inline;
    height: 20px;
    text-align: right;
    font-size: 20px;
}

.butCalculator {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.butCalculator > * {
    border: 1px solid #fff;
    color: #162938;
    padding: 18px;
    background: #4d4d4d;
    cursor: pointer;
}

#clear {
    background: rgb(172, 57, 57);
    grid-column: 1 / -3;
}

#decimal {
    grid-column: 1 / -3;
}

#equals {
    background: rgb(0, 68, 102);
    grid-column: 3 / span 2;
}